
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11% 10%;
    --foreground: 0 0% 98%;
    --card: 240 11% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 11% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 243 85% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 11% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 11% 18%;
    --muted-foreground: 240 5% 70%;
    --accent: 210 91% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 11% 20%;
    --input: 240 11% 20%;
    --ring: 243 85% 69%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
  code, pre {
    @apply font-code;
  }
}
